In [3]:
import pandas as pd

In [4]:
data=pd.read_csv('all_kindle_review.csv')

In [5]:
print(data)

       Unnamed: 0.1  Unnamed: 0        asin  helpful  rating  \
0                 0       11539  B0033UV8HI  [8, 10]       3
1                 1        5957  B002HJV4DE   [1, 1]       5
2                 2        9146  B002ZG96I4   [0, 0]       3
3                 3        7038  B002QHWOEU   [1, 3]       3
4                 4        1776  B001A06VJ8   [0, 1]       4
...             ...         ...         ...      ...     ...
11995         11995        2183  B001DUGORO   [0, 0]       4
11996         11996        6272  B002JCSFSQ   [2, 2]       5
11997         11997       12483  B0035N1V7K   [0, 1]       3
11998         11998        3640  B001W1XT40   [1, 2]       1
11999         11999       11398  B003370JUS   [5, 6]       3

                                              reviewText   reviewTime  \
0      Jace Rankin may be short, but he's nothing to ...   09 2, 2010
1      Great short read.  I didn't want to put it dow...   10 8, 2013
2      I'll start by saying this is the first of four...  04 11, 2014
3      Aggie is Angela Lansbury who carries pocketboo...   07 5, 2014
4      I did not expect this type of book to be in li...  12 31, 2012
...                                                  ...          ...
11995  Valentine cupid is a vampire- Jena and Ian ano...  02 28, 2014
11996  I have read all seven books in this series. Ap...  05 16, 2011
11997  This book really just wasn't my cuppa.  The si...  07 26, 2013
11998  tried to use it to charge my kindle, it didn't...  09 17, 2013
11999  Taking Instruction is a look into the often hi...   07 5, 2012

           reviewerID                   reviewerName  \
0      A3HHXRELK8BHQG                         Ridley
1      A2RGNZ0TRF578I                   Holly Butler
2      A3S0H2HV6U1I7F                        Merissa
3       AC4OQW3GZ919J                     Cleargrace
4      A3C9V987IQHOQD                       Rjostler
...               ...                            ...
11995  A1OKS5Q1HD8WQC                  lisa jon jung
11996   AQRSPXLNEQAMA                        TerryLP
11997  A2T5QLT5VXOJAK                        hwilson
11998  A28MHD2DDY6DXB  Allison A. Slater "Gryphon50"
11999  A3JUXLB4K9ZXCC                      Dafna Yee

                                                 summary  unixReviewTime
0                               Entertaining But Average      1283385600
1                                Terrific menage scenes!      1381190400
2                                       Snapdragon Alley      1397174400
3                                 very light murder cozy      1404518400
4                                                   Book      1356912000
...                                                  ...             ...
11995                                               jena      1393545600
11996                                Peacekeepers Series      1305504000
11997                                    a little creepy      1374796800
11998                                        didn't work      1379376000
11999  If you like BDSM with a touch of romance, this...      1341446400

[12000 rows x 11 columns]

In [6]:
data.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [7]:
data=data[['reviewText', 'rating']]

In [8]:
data.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       3
1  Great short read.  I didn't want to put it dow...       5
2  I'll start by saying this is the first of four...       3
3  Aggie is Angela Lansbury who carries pocketboo...       3
4  I did not expect this type of book to be in li...       4

In [9]:
data.shape

(12000, 2)

In [10]:
data.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [11]:
data['rating'].unique()

array([3, 5, 4, 2, 1])

In [ ]:
data['rating'].value_counts()   ### checking for imbalanced dataset

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

In [15]:
data['rating']=data['rating'].apply(lambda x:0 if x<3 else 1)

In [16]:
data['rating']

0        1
1        1
2        1
3        1
4        1
        ..
11995    1
11996    1
11997    1
11998    0
11999    1
Name: rating, Length: 12000, dtype: int64

In [17]:
data.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       1
1  Great short read.  I didn't want to put it dow...       1
2  I'll start by saying this is the first of four...       1
3  Aggie is Angela Lansbury who carries pocketboo...       1
4  I did not expect this type of book to be in li...       1

In [18]:
data['rating'].unique()

array([1, 0])

In [19]:
data['rating'].value_counts()

rating
1    8000
0    4000
Name: count, dtype: int64